# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/database.db
backend/smart_closet.db
backend/uploads/*
!backend/uploads/.gitkeep

# Mobile
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/

# OS
.DS_Store
Thumbs.db
